<% if @user.errors.any? %>
  <div class="alert-message error">
  <a class="close" href="#">×</a>
    <p>
<strong><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</strong>
There were problems with the following fields:
</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li style="color:#ffffff;"><%= msg %></li>




    <% end %>
    </ul>
  </div>
<% end %>

